
[Unit]
Description={{ mailroom_service_name }} service
After=network.target

[Service]
User={{ mailroom_system_user }}
Group={{ mailroom_system_group }}
Type=simple
WorkingDirectory={{ mailroom_active_package_symlink }}
ExecStart={{ mailroom_active_package_symlink }}/{{ mailroom_binary_name }}
ExecReload=/bin/kill -HUP $MAINPID
Restart=on-failure
EnvironmentFile={{ mailroom_active_package_symlink }}/environment
KillSignal=SIGINT

[Install]
WantedBy=multi-user.target
