DB = "{{ rapidpro_indexer_postgresql_url }}"
ElasticURL = "{{ rapidpro_indexer_elasticsearch_url }}"
Index = "{{ rapidpro_indexer_index }}"
LogLevel = "{{ rapidpro_indexer_log_level }}"
Poll = {{ rapidpro_indexer_poll }}
SentryDSN = "{{ rapidpro_indexer_sentry_dsn }}"
Rebuild = false
Cleanup = false
