[Unit]
Description=Rapidpro Celery beat reader
After=network.target

[Service]
Type=simple
User=django
Group=www-data
WorkingDirectory=/home/django/app
RuntimeDirectory=celery-django
ExecStart=/bin/sh -c 'tail -f "/dev/null"'
ExecStop=/bin/systemctl kill rapidpro-celery-beat.service
ExecStartPost=/bin/sh -c \
  'tail -f  "/var/log/django/celerybeat.log" |systemd-cat -t "rapidpro-celery-beat" &'
[Install]
WantedBy=multi-user.target
